/* Reset CSS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Updated font family */
}

/* Header */
.header-image {
  position: relative;
  height: 700px; /* Adjust the height as needed */
  background: url('HEADER.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  box-sizing: border-box; /* Include padding in height calculation */
  overflow: hidden; /* Hide any overflow content */
  background-position: center -150px; /* Adjust the background position to cut off from the top */
}

.header-text {
  font-size: 3.5em;
  margin: 0;
  color: #4e3519;
  font-style: italic;
  font-weight: bold;
}

/* Sections */
.section-part {
  text-align: center;
  margin: 0;
}

.section img {
  width: 260px;
  height: 400px;
  padding-left: 10px;
}

.section label,
.section button,
.navbar li a { /* Update font family for labels, buttons, and navigation links */
  font-family: Helvetica, Arial, sans-serif;
}

.section label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4e3519;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.section button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #9f1f06;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
}


.section input[type="file"] {
  display: none;
}

/* Navigation */
.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0 auto; /* Center the navigation horizontally */
  overflow: hidden;
  background-color: #333;
  text-align: left; /* Center the text inside the navigation */
}

.navbar li {
  display: inline-block; /* Display the list items inline */
}

.navbar li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.3s;
}

.navbar li a:hover {
  background-color: #e45c54;
  transform: scale(1.1);
}

/* About Us */
.profiles {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
}

.top-members,
.bottom-members {
  display: flex; /* Display members in a row */
  justify-content: center; /* Center members horizontally */
  gap: 20px; /* Spacing between members */
}

.profile {
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
